
<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-column-center-center-1000px">
        <h3>Master in Geomatics and Geoinformation</h3>
        <h3>Universitat Politècnica de València</h3>
        <h3>Spain</h3>
    </div>
    <div class="flexbox-responsive-interior-container-column-center-left-1000px">
        <p>This is the geoportal that we develop in the subject.</p>
        <p>It is a minimum geoportal, with the basics to start, but with all the components.</p>
        <p>It has been developed with Django as backend and Angular as frontend.</p>
        <p>The map has been built with OpenLayers.</p>
        <p>The Django API has been published by using Docker containers</p>
        <p>The code of this project can be enlarged with as many components, 
            nd to manage as many OpenLayers interactions as you need.</p>
        <p>This is the advantage of using these frameworks.</p>
    </div>
</div>

