


<div class="flexbox-exterior-container">
    <div class="flexbox-responsive-interior-container-column-center-center-1000px">
  
        <mat-card>
            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-around" >
                    Gaspar Mora-Navarro
                </div>
            </mat-card-title>
            <mat-card-subtitle>
                <div fxLayout="row" fxLayoutAlign="space-around" >
                    Lecturer
                </div>
            </mat-card-subtitle>
            <mat-card-content>	
                <div fxLayout="row" fxLayoutAlign="space-around" >
                    <img mat-card-image class="imagen" src="images/imagenInstitucionalGaspar.png">
                </div>
                <p>E-mail: joamona&#64;cgf.upv.es</p>
                <p>Department of Cartographic Engineering, Geodesy and Photogrammetry</p>
                <p>Universitat Politècnica de València</p>
                <p>Camino de Vera, s/n, 46022 Valencia, Spain</p>
            </mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
        
    </div>
  </div>
  


